language: php

php:
    - 7.1
    - 7.2

dist: trusty
sudo: false

cache:
    directories:
        - $HOME/.composer/cache

before_script:
    - pecl update-channels
    - pecl install trader
    - composer update --no-interaction --prefer-dist

script:
    - composer test

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
